<mat-card class="loginCard align-self-center mx-auto hide-mob">
    <div class="row col-12">

        <div class="col-12">
            <mat-card class="innerCard outline">
                <mat-card-title>
                   <p class="topHeader">Join as a</p>
                    <p class="topHeader"><span class="subTitles">Client</span> or <span class="subTitles">Freelancer</span></p>
                </mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-6">
                            <img class="icons" src="../../../assets/images/Client.png" alt="" width="200" height="200" routerLink="/user-details-form">
                            <p class="iconSubline">I'm a Client, Hiring for a project</p>
                        </div>
                        <div class="col-6">
                            <img class="icons" src="../../../assets/images/Freelancer.png" alt=""width="200" height="200" routerLink="/bank-details">
                            <p class="iconSubline">I'm a freelancer, Looking for a work</p>
                        </div>
                    </div>
  
                    <div class="example-button-row mt-3">
                        <button class="email" mat-raised-button >Create Account</button>
                    </div>

                    <h5 class="req mt-3">Already have an account? <span class="checkline" routerLink="/login">Login</span></h5>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-card>

<mat-card class="loginCard align-self-center mx-auto show-mob">
    <div class="row col-12">

        <div class="col-12">
            <!-- <mat-card class="innerCard outline"> -->
                <mat-card-title>
                   <p class="topHeader">Join as a</p>
                    <p class="topHeader"><span class="subTitles">Client</span> or <span class="subTitles">Freelancer</span></p>
                </mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-12 imgs"  routerLink="/bank-details">
                            <img class="icons" src="../../../assets/images/Client.png" alt="" width="200" height="200" >
                            <p class="iconSubline">I'm a Client, Hiring for a project</p>
                        </div>
                        <div class="col-12 imgs">
                            <img class="icons" src="../../../assets/images/Freelancer.png" alt=""width="200" height="200">
                            <p class="iconSubline">I'm a freelancer, Looking for a work</p>
                        </div>
                    </div>
  
                    <div class="example-button-row mt-3">
                        <button class="email" mat-raised-button>Create Account</button>
                    </div>

                    <h5 class="req mt-3">Already have an account? <span class="checkline" routerLink="/login">Login</span></h5>
                </mat-card-content>
            <!-- </mat-card> -->
        </div>
    </div>
</mat-card>