<ng-container>
    <mat-card class="innerCard outline">
        <mat-card-title>
        </mat-card-title>
        <mat-card-content>
            <p class="pb-2 checklinehead">Bank Details</p>
            <form class="example-form mt-1">
                <label for="" class="checkline">Enter Bank</label>
                <input type="text" id="exampleForm2" class="form-control example-full-width" placeholder="Enter Bank">

                <label for="" class="checkline mt-3">Account Number</label>
                <input type="text" id="exampleForm2" class="form-control example-full-width mt-1"
                    placeholder="Account Number">

                <label for="" class="checkline mt-3">Enter Bank</label>
                <input type="text" id="exampleForm2" class="form-control example-full-width mt-1"
                    placeholder="Confirm Account Number">

                <label for="" class="checkline mt-3">Enter Bank</label>
                <input type="text" id="exampleForm2" class="form-control example-full-width mt-1"
                    placeholder="IFSC Code">

                <label for="" class="checkline mt-3">Enter Bank</label>
                <input type="text" id="exampleForm2" class="form-control example-full-width" placeholder="Nickname">


                <div class="example-button-row flex-start mt-3">
                    <button class="email" mat-raised-button routerLink="/Choose-User">Submit</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>